var settings = {}

// Edit this before running the bot.
settings.modes = {
    'example': {
        'server': 'irc.freenode.net',
        'channels': ['#linux'],
        'bot_name': 'nisse'
    }
};

settings.database_file = "db.sqlite";

module.exports = settings;
