var settings = {}

//
// Edit this before running the bot. All keys are mandatory
// and must be present for the bot to work.
// * server: hostname of the IRC server to connect to
// * channel: name of channel the bot should connect to
// * bot_name: nickname of the bot
//

settings.modes = {
    'example': {
        'server': 'irc.oftc.net',
        'channel': '#example',
        'bot_name': 'rebot'
    }
};

settings.database_file = "db.sqlite";

module.exports = settings;
